{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock title %}

{% block body %}
	<div class="inner_body">
		<div class="slide_1">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{% for photoHomepage in photosHomepage %}
						<div class="swiper-slide">
							<div class="slider_item" style="background-image:url('{{ asset('uploads/gallery_photos/' ~ photoHomepage.filename) | imagine_filter('thumb_big') }}')">
								<div class="slider-inner">
									<div class="slider-details">
										<h4 class="slider-tag">Photographe | Vidéaste</h4>
										<h2 class="slide_heading">
											<span>Rémi DELECROIX</span>
										</h1>
										<div class="button_group">
											<a href="{{ path('photos_gallery') }}" class="button effect_1 fade_black_button">
												<span>Voir la galerie</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div
				class="swiper-controller">
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>

				<!-- If we need navigation buttons -->
				<div class="swiper-navigation">
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>

	</div>
	<div class="page_title">
		<span>Bienvenue</span>
	</div>

	<h1 class="hidden-h1">Remi DELECROIX - Photographe de mariage - LILLE</h1>

{% endblock body %}
