{% extends 'base.html.twig' %}

{% block title %}Question de Sécurité{% endblock %}

{% block body %}
<h1>Question de Sécurité</h1>
<form method="GET" action="{{ path('user_login') }}">
    <label for="question">{{ question }}</label>
    <input type="hidden" name="question" value="{{ question }}" />
    <input type="text" id="reponse" name="reponse" required />
    
    <button type="submit">Soumettre</button>
</form>
{% endblock %}
