{% extends "base.html.twig" %}

{% block title %}
Qui suis-je ? - {{ parent() }}
{% endblock title %}

{% block body %}

<div class="inner_body bg_dark_gray">
    <!-- Page Header -->
    <div class="page-header type2">
        <div class="page-header-content text-center">
            <div class="container">
                <h1 id="light-title" class="heading">
                    Qui suis-je ?
                    <span id="white-icon" class="icon"><i class="fa fa-user"></i>
                    </span>
                </h1>
            </div>
        </div>
    </div>
    <!-- End Page Header -->

        <div id="about_me" class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-details">
                        <p>Integer vel congue orci. In iaculis dui vel odio varius, sed pretium dui vehicula. Mauris imperdiet turpis ut ligula condimentum, ut eleifend mauris efficitur. Praesent consectetur vel dolor a faucibus. Nulla lobortis sit amet metus id blandit. Integer pulvinar lacus quis mauris commodo, vitae lacinia augue semper. </p>
                        <p>Cras fermentum sit amet mauris id aliquet. Quisque risus arcu, interdum sit amet sapien quis, euismod fringilla arcu. Phasellus non venenatis nisi. Quisque vestibulum metus nisi. Vivamus cursus dolor at odio auctor, nec consequat massa sodales nec consequat. </p>
                        <br>
                        <p>Lorem ipsum dolor sit amet. Ad minima modi est fuga nesciunt quo dolores maiores est sint consequuntur et velit omnis. Qui doloribus quia ea voluptatem quidem est fugiat aliquam qui illo dolor nam quas voluptate non harum maxime aut obcaecati harum. </p><p>Vel enim dolores sed expedita voluptates vel iusto magni ut aspernatur adipisci. Id veniam cupiditate non iusto voluptatem hic suscipit quis non vitae dolore aut odio alias. Sit doloremque architecto ex praesentium eveniet ex distinctio velit sit repudiandae deserunt sit repellendus facere. </p>
                    </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="{{ asset('images/about-me/portrait-remi.jpeg') }}" alt="">
                </div>
            </div>
        </div>
    
</div>

<div class="page_title"><span>Qui suis-je ?</span></div>

{% endblock body %}