<td>
	{% if object.getFilename() %}
		<video width="200px" controls>
			<source src="{{ asset('uploads/gallery_videos/' ~ object.getFilename()) }}" alt="Preview" type="video/mp4">
		{% else %}
			No preview available
		{% endif %}
	</video>
</td>
