@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300italic,400,600,700|Mukta:400,500,600,700,800|Playfair+Display');
@import url('bootstrap.css');
@import url('menu.css');
@import url('swiper.css');
@import url('jquery.fancybox.css');
@import url('fonts/font-awesome/css/all.min.css');
@import url('fonts/ionicons/css/ionicons.min.css');

@font-face {
    font-family: 'bombes-webfont';
    src: url('fonts/bombes-webfont.eot');
    src: url('fonts/bombes-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/bombes-webfont.woff') format('woff'),
        url('fonts/bombes-webfont.otf') format('otf'),
        url('fonts/bombes-webfont.ttf') format('truetype'),
        url('fonts/bombes-webfont.svg#webfont') format('svg');
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:active,
:focus {
    outline: none !important;
}

/* -------- Basic Structure ---------- */
* {
    margin: 0;
    text-decoration: none
}

html {
    height: 100%;
    width: 100%;
    font-size: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

body {
    position: relative;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    max-width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    min-height: 90vh;
}

.body_box .wrapper {
    position: relative;
    padding: 80px 80px;
    height: 100%;
}

.body_box .wrapper .inner_body {
    position: relative;
    z-index: 5;
    margin-bottom: 7em;
    min-height: 70vh;
}

@media screen and (max-width: 767px) {
    .body_box .wrapper .inner_body {
        margin-bottom: 0;
    }
}

.light_mode .wrapper {
    background: #ffffff;
}

.dark_mode .wrapper:after,
.light_mode .wrapper:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: #000000;
    width: 200px;
    height: 100%;
}

@media screen and (max-width: 600px) {

    .dark_mode .wrapper:after,
    .light_mode .wrapper:after {
        width: 30%;
    }

    .body_box .wrapper {
        padding: 80px 50px 50px 50px;
    }
}

@media screen and (max-width: 600px) {
    body.side_menu .wrapper {
        margin-left: 0px;
    }
}

a,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a {
    color: #222222;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #b7a59f;
    text-decoration: none;
}

/* -------- Headings ---------- */
h1,
.h1 {
    font-size: 32px;
    word-break: break-word;
}

h1.hidden-h1 {
    visibility: hidden !important;
    font-size: 4px;
}

h2,
.h2 {
    font-size: 24px;
    word-break: break-word;
}

h3,
.h3 {
    font-size: 20px;
    word-break: break-word;
}

h4,
.h4 {
    font-size: 18px;
    word-break: break-word;
}

h5,
.h5 {
    font-size: 16px;
    word-break: break-word;
}

h6,
.h6 {
    font-size: 14px;
    word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

section {
    padding-top: 90px;
    padding-bottom: 90px;
}

@media screen and (max-width: 500px) {
    section {
        padding-bottom: 40px;
    }
}

/*---------- Pagination ------------*/
.pagination {
    margin-top: 20px;
    text-align: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 4px 6px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #ccc;
}

.pagination .active {
    background-color: #555;
    color: #fff;
}

.pagination .disabled {
    opacity: 0.6;
    pointer-events: none;
}


/*---------- Button Section ------------*/
.button_group {
    position: relative;
    z-index: 1;
    display: inline-flex;
}

.button {
    position: relative;
    width: auto;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    padding: 13px 40px;
    border-width: 0px;
    border-style: solid;
    border-color: inherit;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.button span {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.button.sm {
    padding: 12px 45px;
}

.button.md {
    padding: 16px 50px;
}

.button.lg {
    padding: 18px 55px;
}

.button:before,
.button:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*======= Scroll to top ========*/

#scrollToTopContainer {
    background-color: #c19b76;
    box-shadow: 1px 1px 2px rgb(60, 60, 60);
    border: none;
    bottom: 3em;
    cursor: pointer;
    max-width: 70px;
    opacity: 0;
    padding: 3px;
    position: fixed;
    right: 1.7em;
    transition: opacity 0.3s ease-in-out;
    width: 1.5em;
    height: 3em;
    z-index: 5;
    border-radius: 30px;
}

@media screen and (max-width: 767px) {
    #scrollToTopContainer {
        bottom: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    #scrollToTopContainer {
        right: 0.8em;
    }
}

@media screen and (max-width: 500px) {
    #scrollToTopContainer {
        background-color: #e4dfd9;
    }
}

/*----------*/

.fade_black_button {
    border-color: #000;
    color: #ffffff;
}

.fade_black_button:hover {
    color: #ffffff;
}

.fade_black_button:after {
    background: rgba(34, 34, 34, 0.3);
}

.fade_black_button:before {
    background: rgba(255, 255, 255, 0.2);
}

.black_button {
    border-color: #222;
    color: #ffffff;
}

.black_button:hover {
    color: #222;
}

.black_button:after {
    background: #222;
}

.black_button:before {
    background: #ffffff;
}


/*---------- Button Effect 1 ------------*/
.button.effect_1:before {
    right: 101%;
    top: 0;
}

.button.effect_1:hover::before {
    right: 0;
}

.button.effect_1:after {
    left: 0;
    top: 0;
}

.button.effect_1:hover::after {
    left: 101%;
}

/*---------- Button Effect 2 ------------*/
.button.effect_2:before {
    bottom: 100%;
    left: 0;
}

.button.effect_2:hover::before {
    bottom: 0;
}

.button.effect_2:after {
    left: 0;
    top: 0;
}

.button.effect_2:hover::after {
    top: 100%;
}

/*---------- Button Effect 3 ------------*/
.button.effect_3:before {
    left: 100%;
    top: 0;
}

.button.effect_3:hover::before {
    left: 0;
}

.button.effect_3:after {
    right: 0;
    top: 0;
}

.button.effect_3:hover::after {
    right: 100%;
}

/*---------- Button Effect 4 ------------*/
.button.effect_4:before {
    top: 100%;
    left: 0;
}

.button.effect_4:hover::before {
    top: 0;
}

.button.effect_4:after {
    bottom: 0;
    left: 0;
}

.button.effect_4:hover::after {
    bottom: 100%;
}

/*---------- Button Effect 5 ------------*/
.button.effect_5:before {
    left: 0;
    top: 0;
    transform: scale(0);
}

.button.effect_5:hover::before {
    right: 0;
    transform: scale(1);
}

.button.effect_5:after {
    left: 0;
    top: 0;
    transform: scale(1);
}

.button.effect_5:hover::after {
    left: 0;
    transform: scale(0);
}

/*---------- Button Effect 6 ------------*/
.button.effect_6 {
    background: #999;
}

.button.effect_6:before {
    right: 90%;
    top: 0;
}

.button.effect_6:hover::before {
    right: -90%;
}

.button.effect_6:after {
    left: 90%;
    top: 0;
}

.button.effect_6:hover::after {
    left: -90%;
}

/*---------- Button Effect 7 ------------*/
.button.effect_7:before {
    top: 90%;
    left: 0;
}

.button.effect_7:hover::before {
    top: -50%;
    transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
}

.button.effect_7:after {
    bottom: 90%;
    left: 0;
}

.button.effect_7:hover::after {
    bottom: -50%;
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
}

/*---------- Button Effect 8 ------------*/
.button.effect_8:before {
    top: 90%;
    left: 0;
}

.button.effect_8:hover::before {
    top: -50%;
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
}

.button.effect_8:after {
    bottom: 90%;
    left: 0;
}

.button.effect_8:hover::after {
    bottom: -50%;
    transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
}

/*---------- Button Effect 9 ------------*/
.button.effect_9 {
    color: #222;
}

.button.effect_9:before,
.button.effect_9:after {
    display: none;
}

.button.effect_9:hover {
    background: #222;
    color: #ffffff;
    border-radius: 30px;
}

/*---------- Button Effect 10 ------------*/
.button.effect_10 {
    color: #222;
}

.button.effect_10:before {
    top: 0;
    right: 100%;
}

.button.effect_10:hover:before {
    top: 0;
    right: 0;
}

.button.effect_10:after {
    content: "\f287";
    font-family: "Ionicons";
    left: 70%;
    top: 0;
    opacity: 0;
    width: auto;
    line-height: 48px;
    font-size: 12px;
    background: transparent;
}

.button.effect_10:hover:after {
    left: 80%;
    opacity: 1;
}

/*---------- Button Effect 11 ------------*/
.button.effect_11:before {
    content: "\f3d1";
    font-family: "Ionicons";
    left: 30%;
    top: 0;
    opacity: 0;
    width: auto;
    line-height: 48px;
    font-size: 12px;
    background: transparent;
}

.button.effect_11:hover:before {
    left: 15%;
    opacity: 1;
}

.button.effect_11:after {
    top: 0;
    left: 0;
}

.button.effect_11:hover:after {
    top: 100%;
    left: 0;
}

/*---------- Button Effect 12 ------------*/
.button.effect_12:before {
    content: "\f3d1";
    font-family: "Ionicons";
    right: 100%;
    top: 0;
    opacity: 0;
    width: 100%;
    line-height: 48px;
    font-size: 12px;
}

.button.effect_12:hover:before {
    right: 0%;
    opacity: 1;
}

.button.effect_12:hover span {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
}

.button.effect_12:after {
    top: 0;
    left: 0;
}

.button.effect_12:hover:after {
    top: 100%;
    left: 0;
}

/*---------- Button Effect 13 ------------*/
.button.effect_13:before {
    content: "\f3d1";
    font-family: "Ionicons";
    right: 0;
    bottom: 100%;
    opacity: 0;
    width: 100%;
    line-height: 48px;
    font-size: 12px;
}

.button.effect_13:hover:before {
    bottom: 0%;
    opacity: 1;
}

.button.effect_13:hover span {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
}

.button.effect_13:after {
    top: 0;
    left: 0;
}

.button.effect_13:hover:after {
    top: 100%;
    left: 0;
}

/*---------- Button Effect 14 ------------*/
.button.effect_14:before {
    content: attr(data-text);
    font-family: "Ionicons";
    right: 100%;
    top: 0;
    opacity: 0;
    width: 100%;
    line-height: 48px;
    font-size: 12px;
}

.button.effect_14:hover:before {
    right: 0%;
    opacity: 1;
}

.button.effect_14:hover span {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
}

.button.effect_14:after {
    top: 0;
    left: 0;
}

.button.effect_14:hover:after {
    top: 0;
    left: 100%;
}

/*---------- Button Effect 15 ------------*/
.button.effect_15:before {
    content: attr(data-text);
    right: 0;
    bottom: 100%;
    opacity: 0;
    width: 100%;
    line-height: 48px;
    font-size: 12px;
}

.button.effect_15:hover:before {
    bottom: 0%;
    opacity: 1;
}

.button.effect_15:hover span {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
}

.button.effect_15:after {
    top: 0;
    left: 0;
}

.button.effect_15:hover:after {
    top: 100%;
    left: 0;
}


/*---------- Breadcrumb Section ------------*/

.page-header-content .heading {
    position: relative;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 0px 20px 35px 20px;
    color: #ffffff;
    display: inline-block;
}

.page-header-content .icon {
    position: absolute;
    font-size: 16px;
    color: #ffffff;
    width: 100%;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
}

#white-icon {
    color: #fff;
}

.page-header-content .icon:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 40%;
    height: 2px;
    background: transparent;
    border-bottom: 1px solid #999;
}

.page-header-content .icon:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40%;
    height: 2px;
    background: transparent;
    border-bottom: 1px solid #999;
}

.page-header.type1 .page-header-content p {
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 0.5px;
    line-height: 26px;
}

.page-header .sign {
    margin-top: 30px;
}

@media screen and (max-width: 500px) {
    .page-header .sign {
        margin-top: 0;
    }
}

/*------- Page Header type 2 -----*/
.page-header.type2 {
    background: transparent;
    padding-top: 150px;
    padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
    .page-header.type2 {
        padding-top: 20%;
    }
}

.page-header.type2:before {
    display: none;
}

.page-header.type2 .page-header-content .heading {
    position: relative;
    font-size: 48px;
    font-weight: 800;
    color: #222;
}

.page-header.type2 .page-header-content p {
    font-size: 24px;
    font-weight: 500;
    color: #666;
    letter-spacing: -0.25px;
    line-height: 36px;
}

.page-header.type2 .page-header-content .icon {
    color: #c19b76;
}

.page-header.type2 .page-header-content .icon:before {
    border-bottom: 1px solid #ddd;
}

.page-header.type2 .page-header-content .icon:after {
    border-bottom: 1px solid #ddd;
}

.breadcrumb {
    padding: 0px 0px;
    margin-bottom: 0;
    list-style: none;
    display: block;
    background: transparent;
}

.breadcrumb li {
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.breadcrumb li:before {
    content: "/";
    padding: 0px 5px;
    color: #ff5f2c;
}

.breadcrumb li:first-child:before {
    display: none;
}

.breadcrumb li a {
    color: #ffffff;
}

.breadcrumb li a:hover,
.breadcrumb li.active {
    color: #c19b76;
    font-weight: 500;
}

@media screen and (max-width: 767px) {

    .page-header.type2 .page-header-content .heading,
    .page-header-content .heading {
        padding: 0px 40px;
        font-size: 30px;
        line-height: 40px;
    }

    .page-header.type2 .page-header-content p,
    .page-header-content p {
        font-size: 18px;
        line-height: 28px;
    }

    .page-header-content .icon {
        top: 100%;
    }
}

@media screen and (max-width: 500px) {

    .page-header.type2 .page-header-content .heading,
    .page-header-content .heading {
        font-size: 20px;
        padding: 0;
    }
}

/*======== All Slider Common Part ==========*/
.slide_1,
.slide_2,
.slide_3 {
    position: relative;
}

.slider_item .slider-img {
    width: 100%;
}

.slider_item .slider-details .slider-tag {
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 5px;
}

.slider_item {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide_1 .slider_item:before,
.slide_2 .slider_item:before,
.slide_3 .slider_item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.slider-inner {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.slider-details {
    text-align: center;
}

.slider-details .button {
    border: 1px solid #dddddd;
}

.slider-details .slide_heading {
    position: relative;
    font-family: 'bombes-webfont';
    font-size: 92px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: inherit;
    z-index: 2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slider-details .slide_heading span {
    position: relative;
    height: 180px;
    display: inline-block;
}

.slider-details .slide_heading span::before,
.slider-details .slide_heading span::after {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 100px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-details .slide_heading span::before {
    left: -23%;
}

.slider-details .slide_heading span::after {
    right: -23%;
}

.slider_item .slider-inner a.popup {
    position: absolute;
    bottom: 0%;
    right: 0%;
    background: rgba(54, 54, 54, 0.7);
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 38px;
    text-align: center;
}

/*======== Swiper CSS =======*/
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-controller {
    position: absolute;
    width: 100%;
    height: 22px;
    top: calc(100% + 30px);
}

.slide_3 .swiper-controller {
    top: calc(100% - 50px);
}

.swiper-pagination-bullet {
    position: relative;
    width: 22px;
    height: 22px;
    background: #ffffff;
    opacity: 1;
    border: 1px solid black;
    transform: scale(0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.swiper-pagination-bullet:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    border: 2px dotted #cccccc;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    position: relative;
    width: 22px;
    height: 22px;
    background: #ffffff;
    opacity: 1;
    border: 1px solid #cccccc;
    transform: scale(1);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    background: #000000;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    border: 1px solid #cccccc;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-pagination-bullets {
    top: 0px;
    left: 50%;
    width: auto;
    height: 22px;
    transform: translateX(-50%);
}

@media screen and (max-width: 400px) {

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-pagination-bullets {
        width: 100%;
    }
}

.swiper-navigation {
    position: relative;
    width: 380px;
    height: 22px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #222222;
    text-transform: uppercase !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media screen and (max-width: 991px) {

    .swiper-button-prev:after,
    .swiper-button-next:after {
        color: white;
    }
}

@media screen and (max-width: 400px) {

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }
}

.swiper-scrollbar {
    height: 2px;
    background: #282828;
    opacity: 1;
    width: 40%;
    margin-top: 12px;
    left: 520px;
    z-index: 1;
}

.swiper-scrollbar-drag {
    background: #cdcdcd;
    opacity: 1;
}

/*======== Slider 1 =======*/
.slide_1 .slider_item {
    position: relative;
    height: calc(100vh - 160px);
    width: 100%;
}

.slide_1 .slider_item .slider-details {
    position: absolute;
    width: 100%;
    z-index: 14;
    padding: 0 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*========= Slider 2 ============*/
.slide_2 {
    position: relative;
}

.slide_2 .slider_item {
    position: relative;
    height: calc(100vh - 160px);
    width: 100%;
}

.slide_2 .slider_item .slider-details {
    position: absolute;
    width: 100%;
    z-index: 14;
    padding: 0px 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide_2 .swiper-slide.swiper-slide-active {
    width: 50% !important;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.slide_2 .swiper-slide .slider_item:before {
    background: rgba(0, 0, 0, 0);
}

.slide_2 .swiper-slide.swiper-slide-active .slider_item:before {
    background: rgba(0, 0, 0, 0.6);
}

.swiper-slide .slider-inner {
    transform: scale(0);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.swiper-slide.swiper-slide-active .slider-inner {
    transform: scale(1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.slide_2 .slide_heading {
    position: relative;
    font-family: 'Mukta', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.slide_2 .slider-details .slide_heading span {
    height: auto;
}

.slide_2 .slider-details .slide_heading span::before,
.slide_2 .slider-details .slide_heading span::after {
    display: none;
}

.slide_2 .slider_item .slider-details .slider-tag {
    font-size: 18px;
    letter-spacing: 3px;
}

/*======== Slider 3 =======*/
.slide_3 .slider_item {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 80px 80px;
}

.slide_3 .slider-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    z-index: 5;
}

.slide_3 .slider_item .slider-details {
    position: absolute;
    width: 100%;
    z-index: 14;
    padding: 0px 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide_3 .slider-counter {
    color: #ffffff;
}

@media screen and (max-width: 1100px) {
    .slider-details .slide_heading {
        font-size: 60px;
    }

    .slide_2 .swiper-controller {
        top: calc(100% - 50px);
    }

    .swiper-scrollbar {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 991px) and (max-width: 1100px) {
    .slider-details .slide_heading span {
        height: 120px;
    }
}

@media screen and (max-width: 991px) {
    .slider-details .slide_heading span {
        height: auto;
    }

    .slider-details .slide_heading {
        letter-spacing: 0px;
    }

    .slider-details .slide_heading span::before,
    .slider-details .slide_heading span::after {
        display: none;
    }

    .slide_1 .swiper-controller {
        top: calc(100% - 50px);
    }

    .slide_2 .swiper-slide.swiper-slide-active {
        width: 100% !important;
    }
}

@media screen and (max-width: 900px) {
    .slide_3 .slider_item {
        padding-top: 200px;
    }
}

@media screen and (max-width: 767px) {
    .slide_1 .owl-nav {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    .swiper-navigation {
        width: 290px;
    }

    .swiper-pagination:before,
    .swiper-pagination:after {
        display: none;
    }

    .slide_1 .slider_item {
        position: relative;
        height: calc(100vh - 80px);
        width: 100%;
    }
}

@media screen and (max-width: 740px) {
    .slider_item .slider-details .slider-tag {
        font-size: 16px;
    }

    .slider-details .slide_heading {
        font-size: 40px;
        margin: 30px 0px;
    }
}

@media screen and (max-width: 480px) {
    .slider_item .slider-details .slider-tag {
        font-size: 10px;
    }

    .slider-details .slide_heading {
        font-size: 28px;
    }
}

.home-img .slide_heading,
.home-img-single .slide_heading {
    margin-bottom: 18px;
    font-size: 60px;
    color: #ffffff;
}

.home-img p,
.home-img-single p {
    font-size: 15px;
    letter-spacing: 2px;
    color: #acacac;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    line-height: 2;
}


/*-------- About -------*/
#about_me .row {
    background: #ffffff;
    padding: 20px 10px;
    border-radius: 10px;

}

.about-details span {
    font-family: 'bombes-webfont';
    font-size: 32px;
}

.about-details p {
    font-size: 16px !important;
    color: #000000;
    line-height: 28px;
}

#about_me img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .about-details p {
        font-size: 14px !important;
        line-height: 20px;
    }
}

/*============ Elements =========*/
/* -------- bg-color ---------- */
.bg_white {
    background: #ffffff;
}

.bg_light {
    background: #fafafa;
}

.bg_gray {
    background: #f6f6f6;
}

.bg_light_gray {
    background: #f6f6f6;
}

.bg_dark_gray {
    background: #c1c1c1;
}

.bg_black {
    background: #000;
}

.bg_dark {
    background: #1b1b1f;
}

.bg_gold {
    background: #c19b76;
}

.bg_gold_light {
    background: #ad957d;
}

.bg_transparent {
    background: transparent;
}

.bg-222 {
    background: #222;
}

.bg-2525 {
    background: #252525;
}

.bg-2929 {
    background: #292929;
}

.content_title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 30px;
}

/*------ List Style ------*/
.list_style ul {
    list-style-type: none;
    margin-bottom: 30px;
}

.list_style ul li {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list_style ul li:before {
    font-family: "Ionicons";
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #999;
}

.list_style ul li:hover:before {
    color: #000;
}

ul.circle li:before {
    content: "\f1f6";
}

ul.share li:before {
    content: "\f20f";
}

ul.checkmark li:before {
    content: "\f2bc";
}

ul.decimal {
    counter-reset: numbers;
}

ul.decimal li:before {
    counter-increment: numbers;
    content: "0" counter(numbers);
}

ul.arrow li:before {
    content: "\f287";
}

ul.angle li:before {
    content: "\f3d1";
}

/*--------- Testimonial  --------*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    position: relative;
    z-index: 10000;
}

.modal-content {
    margin-bottom: 20px;
}

.modal-button {
    margin-right: 10px;
}

.testibox1 {
    padding: 0px 170px 0px 170px;
}

.testibox1 .testi-profile {
    display: flex;
    flex-direction: column;
}

.testibox1 .testi-name {
    margin: auto;
    text-align: center;
}

.testibox1 .testi-img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.491) 2px 2px 4px;
}

@media screen and (max-width: 990px) {
    .testibox1 .testi-profile {
        transform: translateY(35px);
        z-index: 1;
        position: relative;
    }

    .comment-container {
        max-width: 100%;
        flex: 100%;
    }

    .testibox1 p {
        margin-top: 45px;
    }
}

@media screen and (max-width: 767px) {
    .testibox1 .testi-profile {
        transform: translateY(20px);
    }
}

@media screen and (max-width: 600px) {
    .testibox1 .testi-img {
        width: 60px;
        height: 60px;
    }
}

.testibox1 .testi-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testibox1 h4 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #222;
}

.testibox1 h6 {
    font-size: 12px;
    font-weight: 600;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.testibox1 p {
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    margin-bottom: 30px;
}

.testi-content {
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.testi-content .publication-date {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color: grey;
}

@media screen and (max-width: 767px) {
    .testibox1 {
        padding: 20px 50px;
    }

    .testibox1 h4 {
        font-size: 14px;
    }

    .testibox1 p {
        font-size: 14px;
        margin-top: 30px;
        line-height: 20px;
    }

    .testi-content .publication-date {
        font-size: 10px;
    }
}

@media screen and (max-width: 576px) {
    .testibox1 h4 {
        font-size: 12px;
    }

    .testibox1 p {
        font-size: 12px;
        margin-top: 20px;
        line-height: 16px;
    }

    .testi-content .publication-date {
        font-size: 8px;
    }

    .testibox1 {
        padding: 0 20px 20px 20px;
    }
}

/*--------- Testimonials Carousel Navs --------*/
.testimonials {
    padding-top: 0 !important;
}

.testimonial-block {
    background-color: #e4dfd9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.banner-testimonials img {
    width: 60%;
    height: auto;
    margin-top: 5%;
}

.banner-testimonials {
    margin-bottom: -50px;
}

.testimonials_button-block {
    display: block;
    position: relative;
    top: -4rem;
}

@media screen and (max-width: 767px) {
    .banner-testimonials img {
        width: 92%;
    }
}

@media screen and (max-width: 600px) {
    .testimonials_button-block .button {
        top: 1rem;
    }

    .testimonials_button-block a {
        font-size: 10px;
    }

    .testimonials_button-block .button {
        padding: 10px 40px;
    }
}

@media screen and (max-width: 450px) {
    .testimonials_button-block a {
        font-size: 8px;
    }
}

.form-group li {
    color: rgb(181, 7, 7);
    font-size: 1.0em;
    margin-top: 5px;
    list-style: none;
    font-weight: bold;
}

#image-error {
    color: rgb(181, 7, 7);
    font-size: 1.0em;
    margin-top: 5px;
    list-style: none;
    padding: 1%;
    font-weight: bold;
}

#image-valid {
    color: rgb(58, 165, 0);
    font-size: 1.0em;
    margin-top: 5px;
    list-style: none;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.33);
    width: 50%;
    margin: auto;
    font-weight: bold;
}

.image-preview-container {
    width: 100%;
    display: inline-block;
    position: relative;
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.image-preview {
    max-width: 100%;
    max-height: 100px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.image-upload {
    display: inline-block;
    margin-top: 10px;
    width: 50%;
}

@media screen and (max-width: 767px) {
    .image-upload {
        width: 80%;
    }
}

span.optional,
span.required {
    color: rgb(81, 81, 81);
    font-style: italic;
    display: flex;
    justify-content: end;
}

span.optional-sm,
span.required-sm {
    color: #C19A76;
    font-style: italic;
    display: flex;
    justify-content: end;
    font-size: 10px;
}

.testimonials .owl-theme .owl-nav {
    margin: 50px 0px;
}

.testimonials .owl-theme .owl-nav [class*='owl-'] {
    margin: 0px;
    margin-right: -1px;
    padding: 0px;
    border: 1px solid #eee;
    border-radius: 0;
    width: 47px;
    font-size: 30px;
    position: relative;
    overflow: hidden;
    background: transparent;
    color: #999;
}

.testimonials .owl-theme .owl-nav [class*='owl-']:hover {
    background: #000;
    color: #ffffff;
}

/*--------- Testimonials Carousel Dots --------*/
.testimonials .owl-dots {
    position: relative;
    text-align: center;
}

.testimonials .owl-dots .owl-dot {
    margin: 0px 7px;
    border-radius: 100%;
    border: 1px solid #ddd;
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    transform: scale(0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.testimonials .owl-dots .owl-dot.active {
    transform: scale(1);
}

.testimonials .owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
    background: #222;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    transform: scale(0);
}

.testimonials .owl-dots .owl-dot.active span {
    transform: scale(1);
}

/* -------- Contact ---------- */
.phone-number {
    display: flex;
    align-items: center;
    color: #555;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.phone-number i {
    margin-right: 5px;
}

.email-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #C19A76;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.email-button i {
    margin-right: 5px;
}

.email-button:hover {
    background-color: #ffffff;
}

.contact-container {
    height: 80vh;
}

.contact_body {
    background: #f6f6f6;
    padding-bottom: 50px;
}

@media screen and (max-width: 500px) {
    .contact_body {
        padding-bottom: 30px;
    }
}

.contact_info {
    position: relative;
    padding-right: 100px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.contact_info .title {
    position: relative;
    font-size: 20px;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.contact_info .title:after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    background: #000;
    width: 30px;
    height: 2px;
}

.contact_info p {
    font-size: 16px;
    color: #6b6b6b;
}

.contact_info h4 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #222;
    margin-top: 30px;
}

@media screen and (max-width: 600px) {
    .contact_info h3.title {
        font-size: 16px;
    }

    .contact_info h4 {
        font-size: 14px;
    }

    .contact_info p {
        font-size: 14px;
    }

    .email-button {
        font-size: 12px;
        padding: 5px;
    }
}

/*------ Portfolio Grid ------*/
.grid-item {
    overflow: hidden;
    position: relative;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* clear fix */
.grid-masonary:after {
    content: '';
    display: block;
    clear: both;
}

/* -------- grid-3 ---------- */
.grid-1 .grid-item,
.grid-1 .grid-sizer {
    width: 100%;
}

.grid-2 .grid-item,
.grid-2 .grid-sizer {
    width: 50%;
}

.grid-3 .grid-item,
.grid-3 .grid-sizer {
    width: 33.33%;
}

.grid-4 .grid-item,
.grid-4 .grid-sizer {
    width: 25%;
}

.grid-5 .grid-item,
.grid-5 .grid-sizer {
    width: 20%;
}

.grid-10 .grid-item,
.grid-10 .grid-sizer {
    width: 10%;
}

.masonary .grid-item.image-20 {
    width: 20%;
}

.masonary .grid-item.image-25 {
    width: 25%;
}

.masonary .grid-item.image-40 {
    width: 40%;
}

.masonary .grid-item.image-50 {
    width: 50%;
}

.masonary .grid-item.image-66 {
    width: 66.66%;
}

.grid-2 .grid-sizer.small {
    width: 1%;
}

.grid-3 .grid-sizer.small {
    width: 1%;
}

.grid-4 .grid-sizer.small {
    width: 1%;
}


.gutter-0 .grid-item {
    padding: 0px;
}

.gutter-5 .grid-item {
    padding: 5px;
}

.gutter-10 .grid-item {
    padding: 10px;
}

.gutter-15 .grid-item {
    padding: 15px;
}

.gutter-20 .grid-item {
    padding: 20px;
}

.gutter-25 .grid-item {
    padding: 25px;
}

.gutter-30 .grid-item {
    padding: 30px;
}

/*-------- Masonry Gallery ---------*/

.grid-item .thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.251);
    border-radius: 4px;
}

.grid-item .label-text h6 {
    color: #999;
    padding-bottom: 0px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

/*-------- Grid Gallery ---------*/
.portfolio-grid .button-group {
    text-align: center;
    padding: 0px 0px 50px 0px;
}

.grid-item .label-text {
    background: #fff;
    text-align: center;
    padding: 25px 10px;
}

.image_index_gallery {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    background-size: cover;
    background-position: center;
}

#inner_body_gallery h1 {
    color: white;
}

#inner_body_gallery p {
    color: white;
}

@media screen and (max-width: 600px) {
    .gallery-index {
        display: block !important;
        margin: auto !important;
    }
}

.thumb .item-image {
    display: inline !important;
}

/*-------- Grid Gallery Hover Style 2 ---------*/

.overlay_effect .grid-item .works-info {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
    transform: scale(0.5);
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.overlay_effect .grid-item:hover .works-info {
    top: 0%;
    transform: scale(1);
}

.overlay_effect .grid-item .thumb .label-text {
    background: transparent;
    text-align: center;
    padding: 25px 10px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.overlay_effect .grid-item .thumb .label-text h4 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.overlay_effect .grid-item .thumb .label-text h6 {
    color: #999999;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.grid-item ul.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 0px;
    list-style: none;
}

.grid-item ul.social li a {
    color: #cbd2d9;
    padding: 0px 6px;
    font-size: 12px;
}


.photo-header-gallery img {
    height: 30em;
    width: 65%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

@media screen and (max-width: 500px) {
    .photo-header-gallery img {
        display: none;
    }

    .page-header.page-header.type2 {
        padding-bottom: 30px;
    }
}

.thumb img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 5px solid white;
}

.thumb video {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.thumb .label-text h4 {
    height: 3em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.thumb .label-text h6 {
    height: 1.5em;
    overflow: hidden;
}

.button-wide:hover {
    color: white;
    background-color: #000;
}

.portfolio-carousel {
    position: relative;
}

.portfolio-carousel .swiper-controller {
    position: absolute;
    width: 100%;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.portfolio-carousel .swiper-navigation {
    position: relative;
    width: 100%;
    height: 22px;
    left: 0%;
    transform: translateX(0%);
    z-index: 1;
}

.portfolio-carousel .swiper-button-prev:after,
.portfolio-carousel .swiper-container-rtl .swiper-button-next:after {
    content: "\f3cf";
    font-family: "Ionicons";
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    padding: 5px 20px;
    cursor: pointer;
    transform: translateY(-50%);
}

.portfolio-carousel .swiper-button-next:after,
.portfolio-carousel .swiper-container-rtl .swiper-button-prev:after {
    content: "\f3d1";
    font-family: "Ionicons";
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    padding: 5px 20px;
    cursor: pointer;
    transform: translateY(-50%);
}

.portfolio-carousel .swiper-button-prev:hover:after,
.portfolio-carousel .swiper-container-rtl .swiper-button-next:hover:after,
.portfolio-carousel .swiper-button-next:hover:after,
.portfolio-carousel .swiper-container-rtl .swiper-button-prev:hover:after {
    background: rgba(0, 0, 0, 0.8);
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media only screen and (max-width: 991px) {
    .grid-1 .grid-item,
    .grid-1 .grid-sizer,
    .grid-2 .grid-item,
    .grid-2 .grid-sizer,
    .grid-3 .grid-item,
    .grid-3 .grid-sizer,
    .grid-4 .grid-item,
    .grid-4 .grid-sizer,
    .grid-5 .grid-item,
    .grid-5 .grid-sizer,
    .grid-10 .grid-item,
    .grid-10 .grid-sizer,

    .masonary .grid-item.image-20,
    .masonary .grid-item.image-25,
    .masonary .grid-item.image-40,
    .masonary .grid-item.image-50,
    .masonary .grid-item.image-66 {
        width: 33.33%;
        flex: 0 0 33%;
    }
}

@media only screen and (max-width: 767px) {
    .grid-1 .grid-item,
    .grid-1 .grid-sizer,
    .grid-2 .grid-item,
    .grid-2 .grid-sizer,
    .grid-3 .grid-item,
    .grid-3 .grid-sizer,
    .grid-4 .grid-item,
    .grid-4 .grid-sizer,
    .grid-5 .grid-item,
    .grid-5 .grid-sizer,
    .grid-10 .grid-item,
    .grid-10 .grid-sizer,

    .masonary .grid-item.image-20,
    .masonary .grid-item.image-25,
    .masonary .grid-item.image-40,
    .masonary .grid-item.image-50,
    .masonary .grid-item.image-66 {
        width: 50%;
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 580px) {
    .grid-1 .grid-item,
    .grid-1 .grid-sizer,
    .grid-2 .grid-item,
    .grid-2 .grid-sizer,
    .grid-3 .grid-item,
    .grid-3 .grid-sizer,
    .grid-4 .grid-item,
    .grid-4 .grid-sizer,
    .grid-5 .grid-item,
    .grid-5 .grid-sizer,

    .masonary .grid-item.image-20,
    .masonary .grid-item.image-25,
    .masonary .grid-item.image-40,
    .masonary .grid-item.image-50,
    .masonary .grid-item.image-66 {
        width: 100%;
        flex: 0 0 100%;
    }
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 28px 80px;
    left: 0;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
}

.copyright {
    position: relative;
    z-index: 12;
    font-size: 12px;
    font-weight: 400;
    width: 33%;
}

.copyright p {
    margin-bottom: 0px;
}

.compagny-info {
    width: 33%;
}

.company-info {
    font-size: 12px;
}

.social-icon {
    position: relative;
    z-index: 12;
    width: 33%;
    display: flex;
    justify-content: end;
}

.social-icon ul {
    margin-bottom: 0;
}

.social-icon ul li {
    display: inline;
}

.social-icon ul li a {
    padding: 0px 10px;
    color: #cbd2d9;
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .social-icon ul li a {
        color: #000;
    }
}

.social-icon ul li:first-child a {
    padding-left: 0;
}

.social-icon ul li:last-child a {
    padding-right: 0;
}

.footer-padding {
    padding: 20px 0 10px 0;
    display: flex;
}

@media screen and (max-width: 767px) {
    .footer {
        position: relative;
        padding: 10px 0px;
    }

    .footer_inner {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .copyright {
        margin-bottom: 15px;
        margin: 1rem auto;
        width: 50vw;
    }

    .copyright.text-white {
        color: #000 !important;
    }

    .social-icon {
        justify-content: center;
        margin: 1rem auto;
    }
}

.page_title {
    position: absolute;
    width: 80px;
    height: 100vh;
    top: 0;
    left: 0;
}

.page_title span {
    position: absolute;
    top: 50%;
    z-index: 2;
    writing-mode: vertical-rl;
    left: 32px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 600;
    transform: translateY(-50%) rotate(180deg);
}

@media screen and (max-width: 599px) {
    .page_title span {
        left: 22%;
    }
}

/*----- Oculoader -----*/
.oculoader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 22;
}

.oculoader.loaded {
    visibility: hidden;
}

.oculoader .loader {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.oculoader .loader:before,
.oculoader .loader:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    animation: bubbleUp 1.5s ease-in-out .5s infinite;
    -o-animation: bubbleUp 1.5s ease-in-out .5s infinite;
    -webkit-animation: bubbleUp 1.5s ease-in-out .5s infinite;
    -moz-animation: bubbleUp 1.5s ease-in-out .5s infinite;
}

.oculoader .loader:before {
    background: #c19b76;
}

.oculoader .loader:after {
    background: #dddddd;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}


.oculoader.loaded .top-side {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

.oculoader .top-side {
    top: 0;
}

.oculoader.loaded .bottom-side {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

.oculoader .bottom-side {
    bottom: 0;
}

.oculoader .top-side,
.oculoader .bottom-side {
    position: absolute;
    width: 100%;
    height: 50%;
    background: #282828;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

@keyframes bubbleUp {
    0% {
        -webkit-transform: translateX(-100%) scale(0);
        transform: translateX(-100%) scale(0);
    }

    50% {
        -webkit-transform: translateX(0%) scale(1);
        transform: translateX(0%) scale(1);
    }

    100% {
        -webkit-transform: translateX(100%) scale(0);
        transform: translateX(100%) scale(0);
    }
}

.alert-success,
button.btn.btn-success {
    background: #D4EDDA;
    font-weight: 500;
    color: green;
}

button.btn.btn-success:hover {
    background: #c7decc;
}

.security-question-container .alert-message {
    background: rgb(255, 62, 62) !important;
    color: white !important;
}

.container-new-user,
.login-page-container,
.security-question-container {
    width: 60%;
    margin-top: 5rem;
}

@media screen and (max-width: 599px) {

    .container-new-user,
    .login-page-container,
    .security-question-container {
        margin-top: 2rem;
    }
}

a.btn.btn-info {
    background: #ffbd18;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-top: -1rem;
}

.create-account-btn {
    margin-top: -1rem;
}

.already-registered,
.not-registered-yet {
    margin-top: 2rem;
}

@media screen and (max-width: 500px) {
    .page_title {
        display: none;
    }

    .body_box .wrapper {
        padding: 80px 20px 50px 20px;
    }

    .pagination {
        display: block !important;
    }

    .image-upload .form-control {
        font-size: 10px;
    }

    .image-upload,
    .testi-form,
    .testi-form .button span {
        font-size: 12px;
    }
}