<td>
	{% if object.getImage() %}
		<img src="{{ asset('uploads/comment_images/' ~ object.getImage()) }}" alt="Preview" style="max-height: 70px;">
	{% else %}
		No preview available
	{% endif %}
</td>
