{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe réussie{% endblock %}

{% block content %}
    <h1>Réinitialisation de mot de passe réussie</h1>

    <p>Bonjour,</p>

    <p>Votre mot de passe a été réinitialisé avec succès.</p>

    <p>Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>

    <p>Si vous n'avez pas demandé cette réinitialisation de mot de passe, veuillez contacter notre équipe de support.</p>

    <p>Cordialement,</p>
    <p>L'équipe de votre site</p>
{% endblock %}
