<footer class="footer">
	<div class="footer_inner">
		<div class="copyright">
			<p>
				&copy;Rémi DELECROIX
				{{ 'now'|date('Y') }}
				- Tous droits réservés.</p>
		</div>
		<div class="company-info d-flex justify-content-center text-center">
			<p>RDVIDEOGRAPHE
				<br>
				Siret 88132167300017</p>
		</div>
		<div class="social-icon">
			<ul>
				<li><a href="https://www.facebook.com/profile.php?id=100067620573889"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="https://www.instagram.com/2lec/"><i class="fab fa-instagram"></i></a></li>
				<li><a href="https://www.linkedin.com/in/remi-delecroix-227232137/"><i class="fab fa-linkedin-in"></i></a></li>
			</ul>
		</div>
	</div>
</footer>
