<header id="header" class="header_one">
    <div class="nav-bar">
        <div class="navigation">
            <div class="logo">
                <a href="index.html"><img src="images/logo.png" alt="logo"></a>
            </div>
            <nav id="flexmenu">
                <div class="nav-inner">
                    <ul class="main-menu">
                        <li class="menu-item active"><a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li class="menu-item active"><a href="index-2.html">Home 2</a></li>
                                <li class="menu-item"><a href="index-3.html">Home 3</a></li>
                                <li class="menu-item"><a href="index-4.html">Home 4</a></li>
                                <li class="menu-item"><a href="index-5.html">Home 5</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">Gallery</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="portfolio-1.html">Portfolio 1</a></li>
                                <li class="menu-item"><a href="portfolio-2.html">Portfolio 2</a></li>
                                <li class="menu-item"><a href="portfolio-3.html">Portfolio 3</a></li>
                                <li class="menu-item"><a href="portfolio-4.html">Portfolio 4</a></li>
                                <li class="menu-item"><a href="masonry.html">Portfolio Masonry</a></li>
                                <li class="menu-item"><a href="portfolio-single-1.html">Portfolio Single 1</a></li>
                                <li class="menu-item"><a href="portfolio-single-2.html">Portfolio Single 2</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">About</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="aboutus-1.html">About Us 1</a></li>
                                <li class="menu-item"><a href="aboutus-2.html">About Us 2</a></li>
                                <li class="menu-item"><a href="aboutus-3.html">About Us 3</a></li>
                                <li class="menu-item"><a href="aboutme.html">About Me</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">Contacts</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="contact-1.html">Contact 1</a></li>
                                <li class="menu-item"><a href="contact-2.html">Contact 2</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="blog-1.html">Blog 1</a></li>
                                <li class="menu-item"><a href="blog-2.html">Blog 2</a></li>
                                <li class="menu-item"><a href="blog-3.html">Blog 3</a></li>
                                <li class="menu-item"><a href="blog-single-1.html">Blog Single 1</a></li>
                                <li class="menu-item"><a href="blog-single-2.html">Blog Single 2</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="elements.html">Elements</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="nav-more-info">
                <div class="element">
                    <div id="mobile-toggle" class="mobile-btn">
                        <span class="toggle_line"></span>
                        <span class="toggle_line"></span>
                        <span class="toggle_line"></span>
                    </div>
                    <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                    <div class="search_overlay">
                        <span class="closebtn">&times;</span>
                        <form class="search-form" action="search.php">
                            <input type="text" name="search" class="keyword form-control" placeholder="Search">
                            <button type="submit" class="form-control form-control-submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlaynav">
        <a href="#" class="overlaynavclose">&times;</a>
        <nav id="overlaymenu">
            <ul class="main-menu">
                <li class="menu-item active"><a href="index.html">Home</a>
                    <ul class="sub-menu">
                        <li class="menu-item active"><a href="index-2.html">Home 2</a></li>
                        <li class="menu-item"><a href="index-3.html">Home 3</a></li>
                        <li class="menu-item"><a href="index-4.html">Home 4</a></li>
                        <li class="menu-item"><a href="index-5.html">Home 5</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="#">Gallery</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="portfolio-1.html">Portfolio 1</a></li>
                        <li class="menu-item"><a href="portfolio-2.html">Portfolio 2</a></li>
                        <li class="menu-item"><a href="portfolio-3.html">Portfolio 3</a></li>
                        <li class="menu-item"><a href="portfolio-4.html">Portfolio 4</a></li>
                        <li class="menu-item"><a href="masonry.html">Portfolio Masonry</a></li>
                        <li class="menu-item"><a href="portfolio-single-1.html">Portfolio Single 1</a></li>
                        <li class="menu-item"><a href="portfolio-single-2.html">Portfolio Single 2</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="#">About</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="aboutus-1.html">About Us 1</a></li>
                        <li class="menu-item"><a href="aboutus-2.html">About Us 2</a></li>
                        <li class="menu-item"><a href="aboutus-3.html">About Us 3</a></li>
                        <li class="menu-item"><a href="aboutme.html">About Me</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="#">Contacts</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="contact-1.html">Contact 1</a></li>
                        <li class="menu-item"><a href="contact-2.html">Contact 2</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="#">Blog</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="blog-1.html">Blog 1</a></li>
                        <li class="menu-item"><a href="blog-2.html">Blog 2</a></li>
                        <li class="menu-item"><a href="blog-3.html">Blog 3</a></li>
                        <li class="menu-item"><a href="blog-single-1.html">Blog Single 1</a></li>
                        <li class="menu-item"><a href="blog-single-2.html">Blog Single 2</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="elements.html">Elements</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>