{% extends 'base.html.twig' %}

{% block title %}ACCES ADMIN | Mot de passe oublié  - {{ parent() }}{% endblock %}

{% block preloader %}
{% endblock preloader %}

{% block body %}
    <div class="mt-5">
        <h1>Mot de passe oublié</h1>

        <form action="{{ path('user_forgot_password') }}" method="post">
            <div class="form-group mt-5 col-8">
                <label for="email">Adresse e-mail</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="col-8">
                <button type="submit" class="btn btn-warning">Réinitialiser le mot de passe</button>
            </div>
        </form>

        {% if app.session.flashBag.has('success') %}
            <div class="mt-5 alert alert-success mt-4">
                {{ app.session.flashBag.get('success')|first }}
            </div>
        {% endif %}

        {% if app.session.flashBag.has('error') %}
            <div class="mt-5 alert alert-danger">
                {{ app.session.flashBag.get('error')|first|raw }}
            </div>
        {% endif %}
    </div>
{% endblock %}
